/***********/
/*VARIABLES*/
/***********/

$white: #fff;
$light-grey: #eff0f1;
$dbo-red: #881012;
$dbo-accent: #b60709;
$alt-black: #1b1b1b;
$black: #000;

$primary: $dbo-red;
$primary-invert: $white;

//Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

//Small tablets (portrait view)
$screen-md-min: 768px;

//Tablets and small desktops
$screen-lg-min: 992px;

//Large tablets and desktops
$screen-xl-min: 1200px;

/********/
/*MIXINS*/
/********/

/*Color opacity function*/
@mixin colorOpacify($color, $r, $g, $b, $a) {
  background: rgba($r, $g, $b, $a);
  color: $color;
}

//Breakpoint mixins

//Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

//Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

//Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

//Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

//Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

/*****************************/
/*SOME DEFAULTS AND OVERRIDES*/
/*****************************/
html,
body {
  overflow-x: hidden;
}

main {
  margin: 5rem auto;

  section {
    margin-top: 2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: auto !important;
  margin-bottom: 1.5rem !important;
}

@media (min-width: 768px) {
  .w-md-25 { width: 25%!important }
  .w-md-50 { width: 50%!important }
  .w-md-75 { width: 75%!important }
}

.text-white {
  color: white;
}

.dbo-red {
  background: $primary !important;
  color: $primary-invert !important;
}

.dbo-red-75 {
  @include colorOpacify($primary-invert, 136, 16, 18, 0.75);
}

.dbo-red-50 {
  @include colorOpacify($primary-invert, 136, 16, 18, 0.5);
}

.dbo-red-25 {
  @include colorOpacify($primary-invert, 136, 16, 18, 0.25);
}

.dbo-black {
  background: $alt-black !important;
  color: $primary-invert !important;
}

.dbo-black-75 {
  @include colorOpacify($primary-invert, 27, 27, 27, 0.75);
}

.dbo-black-50 {
  @include colorOpacify($primary-invert, 27, 27, 27, 0.5);
}

.dbo-black-25 {
  @include colorOpacify($primary-invert, 27, 27, 27, 0.25);
}

.full-width-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  &:hover {
    filter: brightness(1.4);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}

/********/
/*NAVBAR*/
/********/

/*Custom variant*/
.navbar-white .navbar-nav .nav-link {
  color: $primary-invert;
}

.navbar-white .navbar-nav .nav-link:hover {
  background: $primary;
}

.navbar {
  .navbar-brand {
    img {
      margin: -12px auto;
    }
  }

  .navbar-toggler {
    color: $primary-invert;
    border: 2px solid $primary-invert;
    height: 3.25rem;
    width: 3.5rem;

    .navbar-toggler-inner {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .navbar-nav {
    .dropdown-toggle {
      &:after {
        display: none;
      }
    }

    .dropdown:hover > .dropdown-menu {
      display: block;
    }

    .dropdown-menu {
      padding: 0;
      border-radius: 0;
      transition: all 0.3s ease-out;

      .dropdown-item {
        padding: 0.5rem;

        &:hover {
          background: $primary;
          color: $primary-invert;
        }
      }
      &:hover {
        transition: all 0.3s ease-out;
      }
    }
  }

  .navbar-nav.site-menu {
    .nav-link,
    .dropdown-menu {
      margin-left: 0.8rem;
      margin-top: 0;
    }
  }
  .social-nav {
    flex-direction: row;
    padding-left: 0.65rem;

    @include lg {
      padding-left: inherit;
    }

    svg {
      margin-right: 1rem;

      @include lg {
        margin-right: inherit !important;
      }
    }
  }
}

/********/
/*FOOTER*/
/********/
footer {
  background-color: $light-grey;
  padding: 3rem 2rem;

  a {
    color: $primary;
    &:hover {
      color: $dbo-accent;
    }
  }
}

/************/
/*INDEX PAGE*/
/************/

.catchy-banner {
  padding: 2.5rem 0;

  @include md {
    padding: 5rem 0;
  }
}

.landing-sections {
  padding: 5rem 0;

  &:nth-child(odd) {
    background: #000;
  }

  &:nth-child(even) {
    background: #1b1b1b;
  }

  .gatsby-image-wrapper {
    z-index: 0;
    width: 90%;
    height: auto;
    max-height: 400px;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 8px grey;
    object-fit: cover;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @include sm {
      width: 450px;
      max-height: 400px;
    }

    @include md {
      width: 550px;
      max-height: 600px;
    }

    @include xl {
      width: 650px;
    }
  }

  .section-left,
  .section-right {
    position: relative;
    z-index: 0;
    white-space: break-spaces;
  }

  .section-card {
    z-index: 1;
    position: absolute;
    width: 55%;
    font-size: 0.7rem;
    box-shadow: -1px 1px 30px $primary;

    @include md {
      font-size: 1rem;
    }

    .btn {
      font-size: 0.7rem;
      padding: 0.375rem 0.5rem;

      @include md {
        font-size: 1rem;
        padding: 0.375rem 0.75rem;
      }
    }
  }

  .section-left {
    .gatsby-image-wrapper {
      left: -15%;
      @include md {
        left: -10%;
      }

      @include lg {
        left: -5%;
      }

      @include xl {
        left: 0;
      }
    }
    .section-card {
      top: 50%;
      right: 10%;

      @include sm {
        top: 55%;
        right: 8%;
        width: 55%;
      }

      @include md {
        top: 30%;
        right: 8%;
        width: 45%;
      }

      @include lg {
        left: 50%;
        width: 40%;
      }

      @include xl {
        left: 42%;
        width: 600px;
      }

      @include rwd(1400) {
        left: 45%;
        width: 600px;
      }
      .btn {
        background: $primary;
        color: $primary-invert;
      }
    }
  }

  .section-right {
    .gatsby-image-wrapper {
      float: right;
      right: -5%;

      @include md {
        right: -10%;
      }

      @include lg {
        right: -5%;
      }

      @include xl {
        right: 0;
      }
    }
    .section-card {
      top: 50%;
      left: 5%;

      @include sm {
        top: 55%;
        left: 5%;
        width: 55%;
      }

      @include md {
        top: 30%;
        left: 5%;
        width: 45%;
      }

      @include lg {
        left: auto;
        right: 55%;
        width: 40%;
      }

      @include xl {
        left: auto;
        right: 50%;
        width: 600px;
      }

      @include rwd(1600) {
        left: auto;
        right: 45%;
        width: 600px;
      }

      .btn {
        background: $alt-black;
        color: $primary-invert;
      }
    }
  }
}

/*********************/
/**RULES AND REFFING**/
/*********************/
.notice-card {
  padding: 1rem;
  border-radius: 0.25rem;
}

.notice-card.dark {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
}

.notice-card-header {
  font-size: calc(1.5 * 1rem);
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #dadada;
}

.notice-card-body ol {
  padding-inline-start: 1rem;
}

.notice-card-body ol li {
  margin-bottom: 0.6rem;
}

.notice-card-body ol ol {
  padding-inline-start: 2rem;
}

/*crush these later, probably*/
// blog roll
.blog-list-item.is-featured {
  background-color: $light-grey;
}
.blog-list-item header {
  display: flex;
  margin-bottom: 1em;
}
.blog-list-item .featured-thumbnail {
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}

